@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
.red-border{
    border: solid 3px red;
    background-color: red;
    padding: 25px 100px;
}
*{
    border: 0;
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
}
.row{
    display: grid;
    grid-template-columns: repeat(7,14%);
}
.credit{
    padding: 8px 55px;
    border-radius: 10px;
    border: 2px solid red;
    color: red;
    background-color: #fff;
    transition: 0.5s;
    font-size: 19px;
    text-decoration: none;
    margin-top: 30px;
}
.credit:hover{
    background-color: red;
    color: #fff;
    
}
.info-item{
    font-size: 16px;
    font-weight: 500;
}
.info-item:hover{
    color: red;
}
.price{
    color: #111;
    font-size: 18px;
    font-weight: 700;
   
}